<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="./styles/header.css">
    <title>Rex Store</title>
</head>

<body>
    <header>
        <p class="store-name">Rex Store</p>

        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="contactUs">Contact</a>
            </li>
            <li>
                <a href="about">About</a>
            </li>
            <li>
                <a href="terms">Terms</a>
            </li>
        </ul>

        <div>
            <p>Daniel</p>
            <img src="./jeff.jfif" alt="jeff bezos" width="50" height="50">
            <button>
                <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
                    <path d="M480-345 240-585l56-56 184 184 184-184 56 56-240 240Z" />
                </svg>
            </button>
        </div>
    </header>

    <main>
        <h1>About Us</h1>

        <table width="100%" border="1px" cellpadding="10px" cellspacing="10px">
            <thead>
                <tr>
                    <th>S/N</th>
                    <th>Name of Product</th>
                    <th>Description</th>
                    <th>Price</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td colspan="2">1.</td>
                    <td rowspan="2">Fan</td>
                    <td>For blowing air</td>
                    <td>200</td>
                </tr>
                <tr>
                    <td>2.</td>
                    <td>Chair</td>
                    <td>For sitting</td>
                    <td>500</td>
                </tr>
            </tbody>

            <tbody>

            </tbody>
        </table>
    </main>

    <footer></footer>
</body>

</html>