<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="./styles/header.css">
    <link rel="stylesheet" href="./styles/contactUs.css">
    <title>Rex Store</title>
</head>

<body>

    <header>
        <p class="store-name">Rex Store</p>

        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="contactUs">Contact</a>
            </li>
            <li>
                <a href="about">About</a>
            </li>
            <li>
                <a href="terms">Terms</a>
            </li>
        </ul>

        <div>
            <p>Daniel</p>
            <img src="./jeff.jfif" alt="jeff bezos" width="50" height="50">
            <button>
                <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
                    <path d="M480-345 240-585l56-56 184 184 184-184 56 56-240 240Z" />
                </svg>
            </button>
        </div>
    </header>

    <main>
        <h1>Contact Us</h1>

        <form action="">
            <label for="first_name">First Name</label> <br>
            <input type="text" name="first_name" placeholder="John" required><br>

            <label for="last_name">Last Name</label><br>
            <input type="text" name="last_name"><br>

            <label for="email">Email</label><br>
            <input type="email" name="email"><br>

            <label for="gender">Gender</label><br>
            <select name="gender" id="gender">
                <option value="Male">Male</option>
                <option value="Female">Female</option>
            </select> <br>

            <label for="message">Message</label><br>
            <textarea name="message" class="" id="message"></textarea><br>

            <!-- <input type="submit" value="Send"> -->
            <button>Send</button>
        </form>
    </main>

    <footer></footer>
</body>

</html>